<h1>Quintel's Ultimate Unit converter</h1>

<h6>Please type a number and the units for conversion (kg to lbs, m to ft) </h6>
<%= form_tag converter_index_path, method: :get do %>
  <%= text_field_tag :input %>
  <%= submit_tag "Convert" %>
<% end %>

<% if @output.present? %>
  <p><%= @output %></p>
<% end %>
